#spinner{
    display: none;
}
#error{
    background-color: red;
    color: white;
    text-align: center;
}

@media screen and (max-width:600px){
    .head{
        font-size: small;
    }
    .dis{
        flex-wrap: wrap;
    }
    .but{
        margin-top: 5px;
        
    }
    .button{
        padding-left: 30px;
    }
    
}
/* 
<div class="card text-center">
                <img src="${player.strRender}" alt="">
                <h5>Name:${player.strPlayer}</h5>
                <h5>Country:${player.strNationality}</h5>
                <div><button class="bg-primary border-2">See details</button></div>
                </div>
                </div> */